<div class="mx-auto w-48 bg-blue-600">
  <h2 class="text-center">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(@user)) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 font-bold mb-2" %><br/>
      <%= f.email_field :email, class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-gray-700 font-bold mb-2" %><br/>
      <%= f.password_field :password, class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="md-4">
        <%= f.label :remember_me, class: "inline-flex items-center" do %>
          <%= f.check_box :remember_me, class: "form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" %>
          <span class="ml-2 text-gray-700 font-bold">Remember me</span>
        <% end %>
      </div>
    <% end %>

    <div class="flex items-center justify-between">
      <%= f.submit "Sign in", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue active:bg-blue-800 transition duration-150 ease-in-out" %>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: "inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
